@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010101;
  color: #e8e3d5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Custom Ticker Animation */
@keyframes marquee { 
    0% { transform: translateX(100%); } 
    100% { transform: translateX(-100%); } 
}

.animate-marquee-infinite { 
    animation: marquee 30s linear infinite; 
}